@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"] daniel</p>

<address>
    <strong>Para mais Informações : </strong> <a href="http://educandoweb.com.br">Educancoweb.com.br</a>
</address>

